@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  min-height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333;
}

.wrapper {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}


.navigation {
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.navigation-list:first-of-type .navigation-link {
  padding: 20px 16px;
}

.navigation-user .navigation-link {
  padding: 22px 12px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #756157;
  text-decoration: none;
  border: none;
}

.navigation-item .button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;
}

.main-container {
  flex-grow: 1;
}

.preview {
  text-align: center;
}

.preview-background {
  background-image: url("../images/preview-pattern.svg"), url("../images/background-preview.jpg");
  background-color: #c2d5e3;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  background-repeat: no-repeat;
  max-height: 485px;
}

.preview-picture {
  padding: 52px 38px 82px;
}

.preview-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  padding-top: 70px;
}

.preview-text {
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 70px;
}

.preview-title,
.preview-text {
  padding-left: 70px;
  padding-right: 70px;
}

.advantages-list {
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  flex-basis: 400px;
  min-height: 385px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
}

.advantanges-picture {
  flex-grow: 1;
}

.light {
  background-color: rgba(131, 179, 211, 0.12);

}

.medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.dark {
  background-color: #82b3d3;
  color: #fff;
}

.services {
  text-align: center;
}

.services-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  padding-top: 64px;
}

.services-text {
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 64px;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.services-title,
.services-text {
  padding-left: 70px;
  padding-right: 70px;
}

.services-item {
  flex-basis: 400px;
  min-height: 385px;
}

.services-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
}

.services-name,
.services-description {
  padding: 85px;
}

.hotel-search {
  text-align: center;
  padding-bottom: 96px;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  padding-top: 96px;
  margin-bottom: 20px;
}

.hotel-search-text {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
}

.newsletter {
  background-image: url("../images/newsletter-background.jpg");
  background-color: #83aabb;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 70px 104px;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
}

.newsletter-field {
  border-radius: 4px 0 0 4px;
  border: none;
}

.newsletter-field::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgba (0, 0, 0, 0.6);
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  background: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.footer-contacts {
  min-width: 142px;
  margin-right: 42px;
}

.footer-contacts-adress {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-phone {
  color: #000;
  text-decoration: none;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  display: block;

}

.htmlacademy-link {
  color: #000;
  text-decoration: none;
  font-style: normal;
}

.sedona-hotels {
  background-image: url("../images/filters-background.jpg");
  background-color: #8ab8d2;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 412px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding: 36px 566px 8px 70px;

}

.breadcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item .current-page {
  font-size: 16px;
  margin-left: 4px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-group,
.flex-buttons {
  min-height: 412px;
  min-height: 160px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.price {
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 24px;
  color: #000;
}

.from,
.to {
  line-height: 24px;
  text-align: right;
  color: rgba(0, 0, 0, 0.3);
}

.control {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 4px;
}

.flex-buttons {
  display: flex;
  flex-direction: column;
}

.primary-button {
  background-color: #82b3d3;
  border: none;
  margin-bottom: 40px;
}

.secondary-button {
  background-color: transparent;
  border: none;
}

.catalog-hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 70px 60px;
}

.hotel-quantity {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.select-control {
  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.select-control option {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.hotels-display {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.display-item {
  margin-right: 8px;
}

.display-item:last-child {
  margin-right: 0;
}

.hotels-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.hotels-card {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;

}

.hotels-card:nth-child(3n) {
  margin-right: 0;
}



.hotels-card-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.hotel-price {
  text-align: right;
}

.hotel-price b {
  font-weight: 400;
}

.details,
.favorites {
  font-size: 16px;
  line-height: 20px;
}

.add-to-favorites {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
}

.favorites {
  background-color: #7db54f;
}

.rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #f2f2f2;
  color: #333;
}

.pagination {
  list-style: none;
  display: flex;
  padding: 0;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  min-width: 60px;
  min-height: 60px;

}

.pagination-current {
  color: #000;
  background-color: #f2f2f2;
}

.forward {
  display: block;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000;
  border-radius: 4px;
  min-width: 60px;
  min-height: 60px;
}

.newsletter-no-background {
  background-image: none;
  background-color: #fff;
}

.newsletter-no-background .newsletter-title {
  color: #000;
}

.newsletter-no-background .newsletter-text {
  color: #333;
}

.newsletter-no-background input[type="email"] {
  background-color: #f2f2f2;
}
