@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333;
}

img,
svg {
  display: block;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.wrapper {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}


.navigation {
  padding: 0 70px;
  display: flex;
}

.navigation-logo {
  min-width: 140px;
  min-height: 64px;
  position: relative;
  margin-right: 30px;
}

.header-logo {
  position: absolute;
}

.main-header-logo {
  pointer-events: none;
}

.navigation-lists {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
  outline: none;
}

.navigation-link:not(.navigation-link.button) {
  min-width: 48px;
  min-height: 48px;
}

.navigation-link-current {
  position: relative;
  pointer-events: none;
}

.navigation-link-current::after {
  content: "";
  display: block;
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
}

.navigation-link:not(.navigation-link.button):hover {
  opacity: 50%;
}

.navigation-link:not(.navigation-link.button):focus-visible {
  color: #83b3d3;
}

.navigation-link:not(.navigation-link.button):active {
  color: rgba(0, 0, 0, 0.3);
}


.navigation-list:first-of-type .navigation-link {
  padding: 20px 16px;
}

.navigation-user .navigation-link:not(.navigation-link.button) {
  padding: 22px 12px;

}

.icon-favorites {
  position: relative;
}

.favorite-hotels {
  position: absolute;
  top: 10px;
  right: 8px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #7db54f;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

.button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.button-disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.button-primary {
  background-color: #756157;
}

.button-primary:hover,
.button-primary:focus-visible {
  background-color: #615048;
}

.button-primary:active,
.button-secondary:active,
.button-tertiary:active,
.button-quaternary:active {
  color: rgba(255, 255, 255, 0.3);
}


.button-secondary {
  background-color: #82b3d3;
}

.button-secondary:hover,
.button-secondary:focus-visible {
  background-color: #68a2ca;
}

.button-tertiary {
  background-color: #7db54f;
}

.button-tertiary:hover,
.button-tertiary:focus-visible {
  background-color: #6c9e42;
}


.button-quaternary {
  background-color: transparent;
}

.button-quaternary:hover {
  opacity: 60%;
}

.button-quaternary:focus-visible {
  border: 3px solid #83b3d3;
}


.navigation-item .button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 5px;
  min-width: 160px;
  margin-left: 20px;
}

.main-container {
  flex-grow: 1;
}

.preview {
  text-align: center;
}

.preview-background {
  background-image: url("../images/preview-pattern.svg"), url("../images/background-preview.jpg");
  background-color: #c2d5e3;
  background-size: 100% auto, cover;
  background-position: left calc(100% + 1px), left top;
  background-repeat: no-repeat;
  padding: 52px 70px 82px;
}

.preview-picture {
  margin: 0 auto;
}

.preview-title {
  margin: 0 0 26px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.preview-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

/* Отступы слева и справа у заголовка и параграфа разные: у заголовка - 290, у параграфа 275.
Если задавать 290 в коде ниже, то у слов в заголовке и параграфе произойдет перенос в ненужном месте,
поэтому сделала отступ по параграфу и чуть меньше, чтоб переносов не было*/
.preview-title-text {
  padding: 70px 274px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
  min-width: 400px;
  min-height: 386px;
}

.advantages-item.dark {
  background-color: #82b3d3;
  color: #fff;
  display: flex;
  grid-column: span 3;
}

.advantages-item.medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title-description {
  padding: 112px 84px;
}

.advantages-title-description-dark {
  padding: 102px 86px;
  min-width: 400px;
  min-height: 100%;
}

.advantages-title {
  margin: 0 0 62px 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
}

.advantages-title.light {
  color: #fff
}

.advantages-description {
  position: relative;
}

.advantages-description::before {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 2px;
  top: -30px;
  right: 86px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-title-description-dark .advantages-description::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-picture {
  min-height: 100%;
  object-fit: cover;
}

.services {
  text-align: center;
}

.services-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  color: #000;
}

.services-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.services-title-text {
  padding: 64px 348px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  flex-basis: 400px;
  min-height: 385px;
  padding: 82px 86px;
}

.services-item.light {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-icon {
  margin: 0 auto;
}

.services-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 30px 0;
  text-transform: uppercase;
  color: #000;
}


.hotel-search {
  text-align: center;
  padding: 96px 304px;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  margin: 0 0 20px 0;
}

.hotel-search-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px 0;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  margin: 0 auto;
}

.newsletter {
  background-image: url("../images/newsletter-background.jpg");
  background-color: #83aabb;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding: 96px 70px 104px;
}

.newsletter-title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-text {
  margin: 0 0 54px 0;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-field {
  font-family: inherit;
  font-size: inherit;
  border-radius: 4px 0 0 4px;
  border: none;
  min-width: 452px;
  padding: 14px 20px;
}

.newsletter-field::placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  color: rgba (0, 0, 0, 0.6);
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
}

.page-footer {
  padding: 40px 70px 30px;
}

.footer-contacts-address {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-link {
  display: block;
  padding: 0 10px;
  outline: none;
}

.social-link:hover svg,
.social-link:focus-visible svg {
  fill: #68a2ca;
}

.social-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  color: #000;
  text-decoration: none;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  outline: none;
}

.footer-phone:hover,
.footer-phone:focus-visible {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  display: block;
  width: 115px;
  height: 33px;
  color: #000;
  text-decoration: none;
  font-style: normal;
  outline: none;
}

.htmlacademy-link:hover svg,
.htmlacademy-link:focus-visible svg {
  fill: #756157;
}

.htmlacademy-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

.sedona-hotels {
  background-image: url("../images/filters-background.jpg");
  background-color: #8ab8d2;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}

.inner-header-title {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.breadcrumbs-link .visually-hidden {
  display: block;
  width: 14px;
  height: 16px;
}

.breadcrumbs-link svg:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link svg:active {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item:nth-child(2) {
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  min-width: 8px;
  min-height: 10px;
  margin: 0 10px;
}

.breadcrumbs-item .current-page {
  font-size: 16px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:first-of-type {
  margin-right: 70px;
}

.catalog-filter-group:nth-child(3) {
  margin-left: auto;
  margin-right: 70px;
}


.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0 0 32px 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control-checkbox,
.control-radio {
  margin-left: 2px;
}

.price-wrapper {
  position: relative;
}

.price {
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 24px;
  color: #000;
  padding: 12px 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  min-width: 144px;
  min-height: 48px;
}

.from,
.to {
  line-height: 24px;
  text-align: right;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 12px;
  bottom: 12px;
}

.from {
  left: 106px;
}

.to {
  right: 20px;
}

.control {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 4px;
}

.flex-buttons {
  display: flex;
  flex-direction: column;
}

.button-submit {
  border: none;
  margin: 56px 0 40px 0;
  padding: 8px 50px;
  display: flex;
  cursor: pointer;
}

.button-reset {
  border: none;
  display: flex;
  padding: 8px 58px;
  cursor: pointer;
}

.catalog-hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px 60px;
}

.hotel-quantity {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.select-control {
  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 20px;
  min-width: 292px;
  height: 49px;
  margin: 0 70px 0 auto;
  outline: none;
}

.select-control:hover,
.select-control:focus-visible {
  border: 2px solid #68a2ca;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.select-control option {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.hotels-display {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.display-item-link {
  display: block;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 12px;
  min-width: 48px;
  min-height: 48px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  outline: none;
}

.display-item-link.selected {
  border: 2px solid #000;
  background-image: url(../images/cards.svg);
}

.display-item-link.large-cards {
  background-image: url(../images/large-cards.svg);
}

.display-item-link.list {
  background-image: url(../images/list.svg);
}

.display-item-link:hover,
.display-item-link:active {
  border: 2px solid #000;
}

.display-item-link:focus-visible {
  border: 2px solid #68a2ca;
}

.select-cards-view {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.hotels-list {
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.hotels-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  gap: 16px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;

}

.hotels-card-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  grid-column: 1/-1;
}

.hotels-card-title {
  margin: 0;
}

.hotels-card-image {
  margin-bottom: 16px;
  object-fit: cover;
  width: 100%;
}

.hotel-price {
  text-align: right;
}

.hotel-price b {
  font-weight: 400;
}

.button.details,
.button.add-to-favorites,
.button.favorites,
.button.rating {
  min-width: 140px;
  padding: 8px 5px;
  font-size: 16px;
  line-height: 20px;
}


.stars {
  display: flex;
  gap: 6px;
  padding-top: 10px;
}

.button.rating {
  font-weight: 400;
  background-color: #f2f2f2;
  color: #333;
  pointer-events: none;
}

.pagination {
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link {
  font-size: 20px;
  line-height: 60px;
  min-width: 60px;
  min-height: 60px;
}

.pagination-current {
  color: #000;
  background-color: #f2f2f2;
  pointer-events: none;
}

.forward {
  display: block;
  font-size: 22px;
  line-height: 60px;
  text-align: center;
  color: #000;
  border-radius: 4px;
  min-width: 60px;
  min-height: 60px;
  pointer-events: none;
}

.newsletter-no-background {
  background-image: none;
  background-color: #fff;
}

.newsletter-no-background .newsletter-title {
  color: #000;
}

.newsletter-no-background .newsletter-text {
  color: #333;
}

.newsletter-no-background input[type="email"] {
  background-color: #f2f2f2;
}
