@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.wrapper {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}


.navigation {
  padding: 0 70px;
  display: flex;
}

.navigation-logo {
  margin-right: 30px;
}

.navigation-lists {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.navigation-list:first-of-type .navigation-link {
  padding: 20px 16px;
}

.navigation-user .navigation-link:not(.navigation-link.button) {
  padding: 22px 12px;
  width: 44px;
  height: 64px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #756157;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.navigation-item .button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;
}

.main-container {
  flex-grow: 1;
}

.preview {
  text-align: center;
}

.preview-background {
  background-image: url("../images/preview-pattern.svg"), url("../images/background-preview.jpg");
  background-color: #c2d5e3;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  background-repeat: no-repeat;
  padding: 52px 372px 82px;
}

.preview-title {
  margin: 0 0 26px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.preview-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

/* Отступы слева и справа у заголовка и параграфа разные: у заголовка - 290, у параграфа 275.
Если задавать 290 в коде ниже, то у слов в заголовке и параграфе произойдет перенос в ненужном месте,
поэтому сделала отступ по параграфу и чуть меньше, чтоб переносов не было*/
.preview-title-text {
  padding: 70px 274px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
  min-width: 400px;
  min-height: 385px;
}

.advantages-item.dark {
  grid-column: span 3;
}

.advantages-title-description-dark {
  padding: 102px 86px;
}

.advantages-title-description {
  padding: 112px 86px;
}


.advantages-title {
  margin: 0 0 62px 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
}


.light {
  background-color: rgba(131, 179, 211, 0.12);

}

.medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.dark {
  background-color: #82b3d3;
  color: #fff;
}

.services {
  text-align: center;
}

.services-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  color: #000;
}

.services-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.services-title-text {
  padding: 64px 348px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  flex-basis: 400px;
  min-height: 385px;
  padding: 82px 86px;
}

.services-icon {
  display: block;
  width: 76px;
  height: 72px;
}

.services-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  color: #000;
}

.hotel-search {
  text-align: center;
  padding: 96px 304px;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  margin: 0 0 20px 0;
}

.hotel-search-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px 0;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.newsletter {
  background-image: url("../images/newsletter-background.jpg");
  background-color: #83aabb;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 70px 104px;
}

.newsletter-title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-text {
  margin: 0 0 54px 0;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-field {
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 14px 345px 14px 20px;
}

.newsletter-field::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgba (0, 0, 0, 0.6);
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  background: #82b3d3;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
}

.page-footer {
  padding: 40px 70px 30px;
}

.footer-contacts-address {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.social-link {
  display: block;
  width: 52px;
  height: 40px;
  padding: 0 10px;
}

.social-link:nth-child(2) {
  width: 38px;
  height: 40px;
  padding: 1px 10px;
}

.footer-phone {
  color: #000;
  text-decoration: none;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.htmlacademy-link {
  display: block;
  width: 115px;
  height: 33px;
  color: #000;
  text-decoration: none;
  font-style: normal;
}

.sedona-hotels {
  background-image: url("../images/filters-background.jpg");
  background-color: #8ab8d2;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}

.inner-header-title {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-link .visually-hidden {
  display: block;
  width: 14px;
  height: 16px;
}

.breadcrumbs-path {
  display: block;
  width: 8px;
  height: 20px;
  margin-left: 3px;
}

.breadcrumbs-item .current-page {
  font-size: 16px;
  margin-left: 10px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:first-of-type {
  margin-right: 70px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 32px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control-checkbox,
.control-radio {
  margin-left: 2px;
}

.price {
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 24px;
  color: #000;
  padding: 12px 82px 12px 20px;
}

.price-from {
  margin-right: 2px;
}

.from,
.to {
  line-height: 24px;
  text-align: right;
  color: rgba(0, 0, 0, 0.3);
}

.control {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 4px;
}

.flex-buttons {
  display: flex;
  flex-direction: column;
}

.primary-button {
  background-color: #82b3d3;
  border: none;
  margin: 56px 0 40px 0;
  padding: 8px 50px;
  display: flex;
  cursor: pointer;
}

.secondary-button {
  background-color: transparent;
  border: none;
  display: flex;
  padding: 8px 58px;
  cursor: pointer;
}

.catalog-hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px 60px;
}

.hotel-quantity {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.select-control {
  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 20px;
  width: 292px;
  height: 49px;
  margin: 0 70px 0 auto;
}

.select-control option {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.hotels-display {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.display-item-link {
  display: block;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
}

.selected {
  border: 2px solid #000;
}

.select-cards-view {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.hotels-list {
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.hotels-card {
  display: grid;
  gap: 16px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  margin: 0 20px 20px 0;
  min-width: 340px;
  min-height: 438px;
}

.hotels-card-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.hotel-price {
  text-align: right;
}

.hotel-price b {
  font-weight: 400;
}

.details,
.favorites {
  font-size: 16px;
  line-height: 20px;
}

.add-to-favorites {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
}

.favorites {
  background-color: #7db54f;
}

.rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #f2f2f2;
  color: #333;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link {
  display: block;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  min-width: 60px;
  min-height: 60px;
}

.pagination-current {
  color: #000;
  background-color: #f2f2f2;
}

.forward {
  display: block;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000;
  border-radius: 4px;
  min-width: 60px;
  min-height: 60px;
}

.newsletter-no-background {
  background-image: none;
  background-color: #fff;
}

.newsletter-no-background .newsletter-title {
  color: #000;
}

.newsletter-no-background .newsletter-text {
  color: #333;
}

.newsletter-no-background input[type="email"] {
  background-color: #f2f2f2;
}
